<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaMart Payment Proof Resubmission Request</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #373433; color: #ffffff;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; background-color: #ffffff; color: #373433;">
        <tr>
            <td style="padding: 50px 0; text-align: center; background-color: #ffffff;">
                <img  src="https://i.postimg.cc/brCQjt9G/AM-logo-trans.png" alt="AlphaMart Logo" style="max-width: 300px;">
            </td>
        </tr>
        <tr>
            <td style="padding: 40px;">
                <h2 style="color: #373433;">Request for Payment Proof Resubmission</h2>
                <p>Dear {{username}},</p>
                <p>We have received your recent request for order payment verification. However, we regret to inform you that the provided payment proof is not clear or does not match our records.</p>
                <p>We kindly request you to upload a clearer and more accurate payment proof as soon as possible. This will help us process your order promptly.</p>
                <p>If you encounter any difficulties or have questions regarding the resubmission process, please do not hesitate to contact our customer support team at <a href="mailto:support@alphamart.com" style="color: #007bff;">support@alphamart.com</a>.</p>
                <p>Your prompt attention to this matter is greatly appreciated as it will allow us to expedite the shipment of your order.</p>
                <p>Thank you for choosing AlphaMart for your shopping needs.</p>
                <p>Best regards,<br>The AlphaMart Team</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px 0; text-align: center; background-color: #ffffff; color: #373433;">
                &copy; 2023 AlphaMart. All rights reserved.
            </td>
        </tr>
    </table>
</body>
</html>
