<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaMart Reset Password</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #373433; color: #ffffff;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; background-color: #ffffff; color: #373433;">
        <tr>
            <td style="padding: 50px 0; text-align: center; background-color: #ffffff;">
                
                <img  src="https://i.postimg.cc/brCQjt9G/AM-logo-trans.png" alt="AlphaMart Logo" style="max-width: 300px;">
            </td>
        </tr>
        <tr>
            <td style="padding: 40px;">
                <h2 style="color: #373433;">Reset Your AlphaMart Password</h2>
                <p>Dear {{username}},</p>
                <p>We've received a request to reset this account's password.</p>
                <h3 style="color: #373433;">Steps to Reset Your Password:</h3>
                <ol>
                    <li>Click on the Reset Password Link below:</li>
                </ol>
                <p><a href="{{link}}reset-password/{{token}}" style="color: #007bff;">Reset Your Password</a></p>
                <p>If you did not request this, just ignore this email.</p>
                <p>Thank you for being a part of the AlphaMart family. If you have any questions or need assistance, please don't hesitate to contact our support team at <a href="mailto:support@alphamart.com" style="color: #007bff;">support@alphamart.com</a>.</p>
                <p>Happy shopping!</p>
                <p>Best regards,<br>The AlphaMart Team</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px 0; text-align: center; background-color: #ffffff; color: #373433;">
                &copy; 2023 AlphaMart. All rights reserved.
            </td>
        </tr>
    </table>
</body>
</html>